* {
    /* background-color: white; */
}

body {
    color: #e3e3e3;
}

.red {
    color: red;
}

.theme-dark .markdown-preview-view img {
    opacity: 1;                   
}

.theme-dark .markdown-source-view img {
    opacity: 1;                   
}

.wide-table table {
    max-width: 100% !important;
    width: 100% !important;
    color: blue;
}